.title {
    background: var(--purple);
    color: var(--white);
    font: var(--headLine5);
    align-self:flex-start;
    padding-block-start: 4px;
    scroll-padding-block-end: 4px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    box-shadow: -4px 4px 0 var(--white);
    
    text-decoration: none;
}
